@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body{
  background-color: black;
}

.imge img{
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  
}

h1{
  color: white;
  font-size:60px;
  text-align: center;
  padding-top: 20px;
}

h2{
  color: white;
  font-size:60px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.main{
  color: white;
  font-size: large;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  text-align: center;
  line-height: 2.0;
}

.qot img{
margin-top:5%; 
margin-left: 35%;
margin-right: 35%;
}

.awh{
  padding: 5%;
}

h3{
  color: rgb(165, 142, 12);
}
.awhh p{
  color: white;
  font-size: large;
  margin-right: 200px;
  line-height: 2.0;
}
.awhh img{
  float: left;
  margin-right: 30px;
  margin-left: 150px;
}
.awhh1 img{
  float: left;
  margin-right: 30px;
  margin-left: 150px;
}

.awhh1 p{
  color: white;
  font-size: large;
  margin-right: 100px;
}

p{
  text-align-last: left;
  padding-top: 15px;
  color: white;
  margin-left: 15px;
  margin-right: 25px;
  line-height: 2.0;
}
.mainto{
  display: flex;
  margin-left: 500px;
  margin-right: 200px;
}
.split{
  height: 100%;
  width: 50%;
  position: relative;
  z-index: 1;
  top:0;
  overflow-x:hidden;
  padding-top: 100px;
  margin-left: -200;
}

.left{
  left:-100;
}
.right{
  right:-400;
}

.centered{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: left;
}

.centered{
  width: 150px;
  border-radius: 50%;
}
.center{
  border: solid white 2px;
  border-radius: 10px;
  margin-left: 10px;
  padding-left: 4px;
  padding-top: 5px;
  background-color: white;
}
.center p{
  color: black;
}